@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Text-color: #0e0e12;
}

/* -------------------Global-classes------------------------- */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1225px;
    margin: auto;
    padding: 0 30px;
}

/* -------------------/Global-classes------------------------- */

/* -------------------Header-section------------------------- */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: hsla(0, 0%, 100%, 0.96);
    z-index: 10000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    font-weight: 600;
    color: var(--Text-color);
    font-size: 2.2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu a {
    font-size: 1.4rem;
    color: var(--Text-color);
}

.nav-menu a:hover {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}

.nav-btn .btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0160ff;
    color: white;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-btn .btn:hover {
    background-color: #0e0e12;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 35px;
    height: 3px;
    margin: 6px;
    background-color: #0e0e12;
}

/* -------------------/Header-section------------------------- */

/* -------------------Hero-section------------------------- */
.hero {
    width: 100%;
    height: auto;
    padding-top: 80px;
}

.hero-container {
    position: relative;
    top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heroLeft {
    align-self: center;
}

.heroLeft h1 {
    font-size: 4.5rem;
    width: 80%;
    padding-bottom: 20px;
    font-weight: 600;
}

.heroLeft h3 {
    font-size: 1.6rem;
    font-weight: 400;
    width: 80%;
    padding-bottom: 20px;
    color: #8084a2;
}

.heroLeft span {
    color: #0160ff;
}

.heroLeft p {
    color: #8084a2;
    font-weight: 400;
    padding-bottom: 40px;
    font-size: 1.6rem;
    width: 60%;
    line-height: 1.6;
}

.hero-btn {
    background-color: #0160ff;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: #0e0e12;
}
.heroRight{
    position: relative;
}
.heroRight img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.hero-top-overlay{
    position: absolute;
    top: 30px;
    left: -15px;
    background-color: #ffd300;
    padding: 12px;
}
.hero-top-overlay p{
    font-size: 1.4rem;
    font-weight: 600;
    color: #0e0e12;
}
.hero-bottom-overlay{
    position: absolute;
    bottom: 20px;
    left: -250px;
    width: 100%;
    padding: 10px;
    background: #f3f4ff;
    display: flex;
    gap: 10px;
}
.hero-bottom-overlay p{
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #8084a2;
}
.hero-overlay-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero-overlay-info h3{
    font-size: 1.4rem;
    color: #0e0e12;
}
.hero-overlay-info p{
    width: 180px;
    font-size: 1.2rem;
}
.hero-overlay-info ul{
    display: flex;
}


/* -------------------/Hero-section------------------------- */

/* -------------------Company-section------------------------- */
.company {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companyLeft h2 {
    font-size: 2rem;
    color: #0e0e12;
}

.companyRight ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* -------------------/Company-section------------------------- */

/* -------------------testimonial-section------------------------- */
.testimonial{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.card{
    width: 100%;
    height: auto;
    background-color: #f3f4ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card p{
    color: #8084a2;
    font-size: 1.6rem;
    line-height: 1.6;
}
.card-img{
    display: flex;
    gap: 20px;
}
.card-img img{
    width: 80px !important;
    height: 80px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.card-info ul{
    display: flex;
    gap: 5px;
}
.card-info ul li img{
    width: 20px !important;
    height: 20px;
}
.card-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-info h3{
    font-size: 1.6rem;
    color: #0e0e12;
}
.card-info p{
    font-size: 1.4rem;
    color: #8084a2;
}
.wrapper{
    width: 100%;
    margin: auto;
}
.wrapper .carousel{
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.owl-dots{
    text-align: center;
    padding-top: 50px;
}
.owl-dot{
    height: 10px;
    width: 10px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    background-color: #8084a2 !important;
    transition: all 0.3s;
}
.owl-dot:hover,
.owl-dot.active{
    background: #0e0e12 !important;
}
/* -------------------/testimonial-section------------------------- */

/* -------------------content-section------------------------- */
.content {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
}
.contentLeft {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd300;
    padding: 50px 0;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
}

.contentRight {
    width: 100%;
    height: auto;
    background-color: #f3f4ff;
    padding: 80px 50px;
    border-radius: 0px 30px 30px 0px;
}

.contentRight h3 {
    color: #0160ff;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.contentRight h2 {
    color: #0e0e12;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.contentRight p {
    color: #8084a2;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

.content-img {
    width: 60%;
    position: relative;
}

.content-img img:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 75%;
    background-color: #fff;
}

.contentRight-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding-top: 25px;
    padding-bottom: 55px;
}

.content-item img {
    width: 20px;
    height: 20px;
}

.content-item div {
    display: flex;
    padding-bottom: 5px;
}

.content-item p {
    font-size: 1.4rem;
    margin-left: 10px;
}

.content-item span {
    display: block;
    color: #0e0e12;
    font-size: 1.8rem;
    font-weight: 600;
    justify-self: center;
}

.content-btn {
    background-color: #0160ff;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.content-btn:hover {
    background-color: #0e0e12;
}

/* -------------------/content-section------------------------- */

/* -------------------preview-section------------------------- */
.preview {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.preview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.previewLeft {
    align-self: center;
}

.previewLeft h2 {
    width: 80%;
    color: #0e0e12;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.previewLeft h3 {
    color: #0160ff;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.previewLeft p {
    width: 60%;
    color: #8084a2;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.preview-btn {
    padding-top: 30px;
    display: flex;
    gap: 10px;
}

.preview-button:nth-child(2) {
    background-color: transparent;
    color: #0160ff;
    border: 1px solid #0160ff;
}
.preview-button:nth-child(2):hover{
    color: #fff;
}

.preview-button {
    background-color: #0160ff;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.preview-button:hover {
    background-color: #0e0e12;
}

.previewRight img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* -------------------preview-section------------------------- */

/* -------------------Reviews-section------------------------- */
.review {
    width: 100%;
    height: auto;
    background-color: #f3f4ff;
    padding: 120px 0px;
}

.title {
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    color: #0160ff;
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.title p {
    color: #0e0e12;
    font-size: 3rem;
    font-weight: 600;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.review-boxs {
    background-color: #ffffff;
    padding: 30px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.review-boxs p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #8084a2;
    margin: 0 0 20px;
}

.review-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.review-content h3 {
    font-size: 1.6em;
    font-weight: 500;
}

.review-content ul {
    display: flex;
    gap: 5px;
}

.review-content ul i {
    font-size: 1.4rem;
    color: yellow;
}

.review-btn {
    position: relative;
    display: block;
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: 600;
    top: 50px;
    margin: auto;
    border: 1px solid #0160ff;
    background-color: #0160ff;
    color: #ffffff;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.review-btn:hover{
    background-color: #0e0e12;
}
/* -------------------/Reviews-section------------------------- */

/* --------------------Author-section------------------------- */
.author {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.author-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.authorLeft {
    width: 100%;
    height: auto;
}
.authorLeft img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.authorRight {
    padding: 50px 50px;
}

.authorRight h3 {
    font-size: 1.2rem;
    color: #0160ff;
    padding-bottom: 10px;
}

.authorRight h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #0e0e12;
    padding-bottom: 10px;
}

.authorRight p:nth-child(3) {
    font-size: 1.6rem;
    color: #8084a2;
    padding-bottom: 40px;
}

.authorRight p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #8084a2;
}
.author-info{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.author-item div{
    display: flex;
    padding-bottom: 10px;
}
.author-item div p{
    font-size: 1.4rem;
}
.author-item span{
    font-size: 1.6rem;
    font-weight: 700;
    color: #0e0e12;
}
.author-item div img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.author-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f3f4ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.author-icon h3{
    color: #0e0e12;
    font-weight: 500;
    font-size: 1.6rem;
}
.author-icon ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* --------------------/Author-section------------------------- */

/* -------------------Edition-section------------------------- */
.edition{
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.edition-container{
    border-radius: 20px;
    background-color: #0160ff;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.editionleft{
    align-self: center;
    padding: 20px;
    padding-left: 50px;
}
.editionleft h2{
    font-size: 1.2rem;
    color: #f3f4ff;
    padding-bottom: 10px;
}
.editionleft h3{
    font-size: 3.5rem;
    color: #f3f4ff;
    padding-bottom: 10px;
}
.editionleft p{
    width: 70%;
    font-size: 1.6rem;    
    line-height: 1.6;
    color: #f3f4ff;
    padding-bottom: 25px;
}
.editionRight{
    justify-self: center;
    position: relative;
    width: 100%;
    max-width: 40%;
    height: 300px;
}
.edition-left-btn{
    display: flex;
    gap: 8px;
}
.edition-left-btn a{
    padding: 14px 30px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #fff;
    color: #0160ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.edition-left-btn a:nth-child(2){
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.edition-img-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
}
.edition-img-2{
    position: absolute;
    left: 0;
    top: 10%;
    left: 50%;
    transform: translate(-50%
    );
    height: 75%;
    width: 80%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
/* -------------------/Edition-section------------------------- */

/* --------------------Footer-section------------------------- */
footer {
    background-color: #0e0e12;
    width: 100%;
    padding: 25px 0;
}

.foot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.footRight p {
    font-size: 1.4rem;
    color: #8084a2;
}

.footLeft ul {
    display: flex;
    gap: 20px;
}

.footLeft a {
    font-size: 1.4rem;
    color: #8084a2;
}

/* --------------------/Footer-section------------------------- */